/* Defaults */

:root {
  --bg-color: #aaa;
  --main-color: #000;
  --nav-bg-color: #777;
}

body {
  background-color: var(--bg-color);
  font-family: sans-serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

/* Grid */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 1fr auto 1fr;
}

.grid-item {
  background-color: var(--nav-bg-color);
}

/* Header */

.grid-header {
  grid-column-start: 1;
  grid-column-end: 4;
  
  display: block;
  text-align: center;
  color: var(--main-color);
}

/* Navigation */

.grid-nav {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.grid-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.grid-nav li {
  list-style: none;
  color: var(--main-color);
  border: solid;
  border-width: 0.18em;
  border-radius: 0.4em;
  padding: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: var(--nav-bg-color)
}

#return {
  position:absolute;
  right: 1em;
  top: .5em;
  border: dashed;
}

/* Sidebar */

.grid-sidebar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.grid-sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
 
  background-color: var(--nav-bg-color);
  border-style: solid;

  margin: 0.2em;
  padding: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

/* Main */

.grid-main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  
  background-color: var(--nav-bg-color);
  margin: 1em;
}

.grid-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;

  text-align: center;
}